#dark-theme {
    background-color: #101010;
}

.text-bubble-box {
    background: #28202a;
    border-radius: 16px;
    overflow: hidden;
    z-index: 1;
}

.text-bubble-box h1 {
    border-bottom: 5px solid white;
    color: white;
    font-size: 32px;
    margin: 20px 40px;
    padding: 10px;
    width: 30%;
    font-family: 'Trebuchet MS';
}

.text-bubble-box p {
    color: white;
    font-family: 'Trebuchet MS';
    font-size: 20px;
    margin: 20px 40px;
}

.text-bubble-box .expanding-link {
    /* you can change these variables to control the border */
    --border-color: rgb(87, 21, 32);
    --border-width: 100px;
    --bottom-distance: 50px; /* you can increase this */
    
    color: #2a87c1;
    text-decoration: none;
    display: inline-block;
    background-image: linear-gradient(var(--border-color), var(--border-color));
    background-size: 0% var(--border-width);
    background-repeat: no-repeat;
    transition: background-size 0.3s;
    margin: 0 0;
}

.text-bubble-box .from-center {
    background-position: 50% calc(100% - var(--bottom-distance));
}

.text-bubble-box .from-right {
    background-position: 100% calc(100% - var(--bottom-distance));
}

.text-bubble-box .from-left {
    background-position: 0 calc(100% - var(--bottom-distance))
}

.text-bubble-box a:hover {
    background-size: 100% var(--border-width);
}

.title-bubble {
    text-align: center;
    background-color: #412943;
    border-radius: 25px;
    font-size: 32px;
    padding: 25px 50px;
    color: white;
}

@media screen and (max-width: 600px) {
    .text-bubble-box h1 {
        width: 100%;
    }
}